<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">
        <div class="dojo">
            <h1>Add a Dojo</h1>
            <form method="POST" action="{% url 'add_dojo' %}">
                {% csrf_token %}
                <div>
                    <label>Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label>City</label>
                    <input type="text" name="city">
                </div>
                <div>
                    <label>State</label>
                    <input type="text" name="state">
                </div>
                <button type="submit" class="btn">Add Dojo</button>
            </form>
        </div>
        <div class="ninja">
            <h1>Add a Ninja</h1>
            <form method="post" action="{% url 'add_ninja' %}">
                {% csrf_token %}
                <div>
                    <label>First Name</label>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label>Select Dojo</label>
                    <select name="dojo_id" required>
                        {% for dojo in dojos %}
                            <option value="{{ dojo.id }}">{{ dojo.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn">Add Ninja</button>
            </form>
       </div>
    </div>
    <h1>All The Dojos</h1>
    <ul>
      {% for dojo in dojos %}
        <li>{{ dojo.name }} - Ninjas: {{ dojo.ninjas.count }}
          <a href="{% url 'delete_dojo' dojo.id %}" class="btn btn-danger">Delete</a>
          <ul>
            {% for ninja in dojo.ninjas.all %}
              <li>{{ ninja.first_name }} {{ ninja.last_name }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>

</body>
</html>
